@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Reggae+One&display=swap');


body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Cairo, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* overflow-x: hidden; */
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Reggae One', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: #be3e82;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
}

button,
.btn {
    color: #be3e82;
    text-transform: capitalize;
    border: 1px solid #be3e8200;
    border-radius: 5px;

}

.active {
    color: #71697a;
    border-radius: 5px;
}

a:hover,
.btn:hover {
    color: #71697a;
}

main,
#content {
    max-width: 1600px;
    /* border: 1px solid red; */
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 80px auto;
    padding: 20px 80px;
    background-color: #fff;
    border-bottom: #be3e82 1px solid;
}

#logo_link {
    /* width: 80px; */
    overflow: hidden;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-self: end;
    align-self: center;
}

nav a {
    padding: 5px 40px;
}

.nav-icon {
    display: none;
}

img {
    width: 100%;
}

/* Hero Style */
#hero {
    margin-top: -150px;
    display: grid;
    /* border: 1px solid red; */
    max-width: 100%;
    height: 800px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: #fff;
    overflow: hidden;
}

#hero-box {
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -3;
}

#hero-msg {
    /* background-color: aliceblue; */
    grid-column: 2/3;
    grid-row: 2/2;
    width: 60%;
    font-size: 1.2em;
}

#hero-msg h2 {
    font-size: 3em;
}

.btn {
    padding: 10px 20px;
}


/* Services */


main section img {
    box-sizing: border-box;
}

.services-section {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: left;
}

#service-item-section {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, auto);
}

.service-section-card {
    position: relative;
    transition: .5s ease;
    backface-visibility: hidden;
    /* border: 2px solid rgb(54, 40, 180); */
}

.service-section-card:hover img {
    opacity: 0.2;
}

.service-section-card .card-img {
    height: 100%;
}

/* #service-item-section:hover img {
} */

.service-section-card .middle {
    display: block;
    position: absolute;
    left: 10%;
    top: 30%;
    width: 80%;
    opacity: 0;
    /* grid-row: 1/11; */
}

.service-section-card h3 {
    color: #be3e82;
    text-align: center;
}


.service-section-card:hover .middle {
    opacity: 1;
}

.wdd-card {
    grid-column: 1/3;
    grid-row: 2/4;
}

.add-card {
    grid-column: 4/6;
    grid-row: 2/4;
}

.gdi-card {
    grid-column: 7/9;
    grid-row: 2/4;
}

/* Clients Section style */
#clients-section {
    width: 100%;
    display: block;
    background-color: #71697a;
    padding: 60px 0;
    color: #fff;
    /* padding: 20px; */
}

#clients-section h2 {
    width: 90%;
    /* border: 1px solid blanchedalmond; */
    margin: 0 auto;
}

.clients {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15px 0;
}

.clients img {
    width: 150px;
}

#contact-section {
    background-image: url(../images/contact-1.jpg);
    color: #fff;
}

#contact-section section {
    background-color: rgba(0, 0, 0, 0.658);
    width: 100%;
    height: 100%;
    padding: 50px 0;
    text-align: center;
}

#contact-section section form {
    width: 50%;
    margin: 0 auto;
    /* border: #71697a 1px solid; */
}

#contact-section form div,
#contact-section textarea {
    width: 100%;
    /* border: 1px solid #be3e82; */
    display: flex;
}

#contact-section form div input {
    display: inline-block;
    width: 100%;
    /* height: 30px; */
    margin: 10px 0;
    padding: 10px 5px;
    border-radius: 5px;
}

/* ######################
    Services Pages
   ######################*/
.services {
    width: 80%;
    /* border-top: #71697a 1px solid; */
    /* display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr); */
}

.conte h2 {
    color: #be3e82;
}

#page-title {
    display: block;
    width: 100%;
    /* height: 150px; */
    padding: 50px 0;
}

#page-title h2 {
    text-align: center;
    margin: 0 auto;
    /* border: #be3e82 1px solid; */
}

.services section {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    height: 300px;
    overflow-y: hidden;
    margin: 20px auto;
}

.services section img {
    width: 50%;
    height: initial;
}

.services-content {
    width: 50%;
    padding-left: 20px;
}

.cont-2,
.cont-4 {
    padding-right: 20px;
    padding-left: 0;
}

.services-page-section-2,
.services-page-section-4 {
    flex-direction: row-reverse;
    /* grid-column: 2/3; */
}



/* ######################
    Contact us section style
   ######################*/
.contactus {
    /* width: 100%; */
    padding: 0 10%;
}

.contactus #address-location {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.contactus #address-location #map {
    height: 350px;
    overflow: hidden;
}

.contactus #address-location #address {
    padding: 0 2em;
}

#contact-form {
    /* background-color:  ; */
    padding: 50px 10px;
    /* border: #be3e82 1px solid; */
    text-align: center;
}

#contact-form form {
    /* width: 70%; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
}

#contact-form form div:nth-of-type(1),
#contact-form form div:nth-of-type(3) {
    width: 100%;
    grid-column: 2/3;
    padding-top: 10px;
}

#contact-form form div:nth-of-type(2),
#contact-form form div:nth-of-type(4) {
    width: 100%;
    grid-column: 3/4;
    padding-top: 10px;
}

#contact-form form div:nth-of-type(5) {
    grid-column: 2/4;
    padding-top: 10px;
}

#contact-form form div:last-of-type {
    grid-column: 2/3;
}



#contact-form form div label {
    display: block;
    text-align: left;
}

#contact-form form div input {
    display: block;
    width: 90%;
    height: 25px;
    margin: 2px 0;
}

#contact-form form div textarea {
    display: block;
    width: 95%;
    /* margin: 2px 0; */
}

#contact-form form div:nth-of-type(6) input {
    height: 30px;
    background: #be3e82;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1em;
    margin-top: 10px;
    transition: ease .5s;
}

#contact-form form div:nth-of-type(6) input:hover {
    background-color: #fff;
    color: #be3e82;
    border: 1px solid #be3e82;

}

/* Footer */
footer {
    max-width: 100%;
    display: block;
    margin-top: 50px;
    border-top: 1px solid #71697a;
}

footer h2 {
    color: #be3e82;
}

#footer-content {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


footer .item2 ul li {
    list-style: none;
}

.social {
    display: flex;
}

footer .social img {
    padding-top: 15px;
}

.copy-sections {
    text-align: center;
}

.copy-sections a {
    text-transform: capitalize;
    font-size: 1em;
}


@media screen and (max-width: 900px) {

    /* Navigations styles */
    header nav {
        display: none;
    }

    .nav-icon {
        display: block;
        float: right;
        text-align: right;
        padding: 20px;
    }

    header {
        position: relative;
    }

    .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .responsive {
        position: absolute;
        display: block;
        text-align: left;
        width: 100%;
        top: 130px;
        background-color: #be3e82;
        color: white;
        z-index: 99;
    }

    .responsive a {
        display: block;
        color: #fff;
    }

    /* Home Page responsive style */
    #hero {
        display: block;
        position: relative;
        margin: 0;
        height: auto;
    }

    #hero-box {
        z-index: -50;
    }

    #hero-msg {
        position: absolute;
        top: 80px;
        left: 80px;
    }

    #hero-msg h2 {
        font-size: 2em;
    }

    .services-section #service-item-section {
        display: block;
    }

    .services-section #service-item-section section {
        margin: 10px 0;
        font-size: 1.8em;
    }

    .clients {
        overflow-x: auto;
    }

    .clients img {
        margin: 0 5px;
    }

    #contact-section section form {
        width: 80%;
    }

    /* Services page style */
    .services section {
        display: block;
        height: auto;
        width: 100%;
    }

    .services section img,
    .services section div {
        width: 100%;
        overflow-x: hidden;
        padding: 0;
    }

    .contactus #address-location {
        display: block;
    }

    .contactus #address-location #address {
        padding: 20px 0;
    }

    .contactus #contact-form {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0%;
    }

    .contactus #contact-form form {
        display: grid;
        grid-template-columns: 1px 1fr 1fr 1px;
    }

}

@media screen and (max-width: 600px) {

    .nav-icon {
        padding: 15px 5px;
    }

    #hero-msg {
        position: absolute;
        top: 35px;
        left: 50px;
        width: 85%;
    }

    #hero-msg h2 {
        font-size: 1.9em;
    }

    .services-section #service-item-section section {
        margin: 10px 0;
        font-size: 1.0em;
    }

    #footer-content {
        display: block;
    }

    footer section {
        display: block;
        width: 100%;
        padding: 5px;
    }
}